.App {
    position: relative;
}

    .App .Box {
        background-color: rgba(255,255,255,0.5);
        border: 1px solid white;
        V.Box-sizing: border-V.Box;
        V.Pointer-events: none;
        position: absolute;
        top: 0;
        padding: 4px;
    }

        .App .Box .Color {
            vertical-align: middle;
            width: 64px;
            height: 4px;
            display: inline-block;
        }
